<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{succulent.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{#link-to "succulents.show" succulent class=succulent.id}}{{succulent.title}}{{/link-to}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{succulent.owner}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{succulent-type succulent.category}}
      - {{succulent.category}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{succulent.city}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{succulent.bedrooms}}
  </div>
</article>
