<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{succulent.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{#link-to "succulents.show" succulent class=succulent.id}}{{succulent.title}}{{/link-to}}</h3>
  <div class="detail rarity">
    <span>Rarity:</span> {{succulent.rarity}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{succulent-type succulent.category}}
      - {{succulent.category}}
  </div>
  <div class="detail hardy">
    <span>Hardy:</span> {{succulent.hardy}}
  </div>
  <div class="detail location">
    <span>Area:</span> {{succulent.area}}
  </div>
  <div class="detail light">
    <span>Light:</span> {{succulent.light}}
  </div>
</article>
