<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly the succulent you're looking for.</p>
  {{#link-to "about" class="button"}}
    About Us
  {{/link-to}}
</div>

{{#each model as |succulent|}}
  <article class="listing">
    <h3>{{succulent.title}}</h3>
    <div class="detail owner">
      <span>Owner:</span> {{succulent.owner}}
    </div>
    <div class="detail type">
      <span>Type:</span> {{succulent.category}}
    </div>
    <div class="detail location">
      <span>Location:</span> {{succulent.city}}
    </div>
    <div class="detail bedrooms">
      <span>Number of bedrooms:</span> {{succulent.bedrooms}}
    </div>
  </article>
{{/each}}
undefined

{{outlet}}
